* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    min-height: 100vh;
	background: #eee;
    background-image: url("../background.jpg");
	display: flex;
    font-family: 'DINPro',Arial,sans-serif;
}

.container {
	margin: auto;
	width: 500px;
	max-width: 90%;
}

.container form{
	box-shadow: 0 8px 16px black;
    border: solid gray 1px;
    width: 100%;
	height: 500px;
    max-width: 400px;
    min-width: 300px;
    border-radius: 4px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    
}

.container form h2 {
	text-align: center;
	margin-bottom: 24px;
	color: #222;
}

.container form .form-control {
	width: 100%;
	height: 40px;
	background:white;
	border-radius: 4px;
    margin: 10px 0 18px 0;
    background: white;
    padding: 0 10px;
	border: solid gray 1px;
	font-size: 15px;
}

.container form .btn {
    font-size: 15px;
	width: 90px;
	height: 35px;
	margin-left: 50%;
	transform: translateX(-50%);
	border: none;
	outline: none;
	background: #416193;
	cursor: pointer;
	color: white;
	border-radius: 4px;
	transition: .3s;
}

.container form .btn:hover {
	opacity: .8;
}


.container img {
  border-radius: 4px;
  padding: 5px;
  width: 170px;
  height: 105px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container form a {
	text-align: center;
	margin: 50px 70px;
}

.container form a:hover {
	color: green;
}